{% extends 'base.html' %}
{% block title %} project1{% endblock title %}
{% block body %}
<style>
    body{
        background-color: black;
    }
    .image{
        align-self: center;
    }
    .back{
        background-color: black;
        color: white;
    }
    .mar{
        margin-left: 100px;
        margin-top: 25px;
    }
</style>
<div class="back">

    <div class="mar">
     <img src="{{pic}}" width="500" height="500" class="center">
     <img src="/media/profiles/car0.jpg" width="500" height="500">

    <h2>NUMBER PLATE  {{text}}</h2 ></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock body %}